// Incluir arquivos de ajuda ------------------------------------------------------------------- //
@import '_ajuda/css_reset';
@import '_ajuda/funcoes';
@import '_ajuda/geometricas';
@import '_ajuda/gridflex';
@import '_ajuda/responsivo';

// Configurações ------------------------------------------------------------ //
$dlx-topo-altura: 55px;
$conf-telas: (
    mobile: (
        media-query: 'only screen and (max-width: 768px)',
        grade-flex: 4 1%
    ),
    tablet: (
        media-query: 'only screen and (min-width: 769px) and (max-width: 1024px)',
        grade-flex: 8 1%
    ),
    laptop: (
        media-query: 'only screen and (min-width: 1025px) and (max-width: 1280px)',
        grade-flex: 12 1%
    ),
    desktop: (
        media-query: 'only screen and (min-width: 1281px)',
        grade-flex: 12 1%
    )
);

// Fontes ------------------------------------------------------------------- //
/* @font-face {
    font-family: 'Neuropol';
    src: url('fontes/neuropol.ttf');
} */

@font-face {
    font-family: 'Icomoon';
    src: url('fontes/icomoon/icomoon.ttf');
}

// -------------------------------------------------------------------------- //
*, *::before, *::after {
    // Tamanho
    box-sizing: border-box;
}

img, video {
    // Tamanho
    max-width: 100%;
    max-height: 100%;
}

body {
    // Texto
    font: 13px sans-serif;

    // Margens
    margin: 0;
    padding: 0;

    // Visual
    // background: #FAFAFA;
    background: #F4F7FB;
}

a {
    // Texto
    color: orangered;
}

// Incluir os itens do layout ----------------------------------------------- //
@import 'layout/*';

// Incluir os componentes ao tema ------------------------------------------- //
@import 'componentes/*';
