.form-titulo {
    // Visual
    display: block;
    background: #1e8788;
    border-radius: 3px;

    // Tammanho
    width: 100%;
    box-sizing: border-box;

    // Margens
    padding: 8px 15px;
    margin-bottom: 10px;

    // Texto
    color: #FFF;
}