// Configurações ------------------------------------------------------------------------------- //
$seletor: '.caixa-widget';

// Componentes --------------------------------------------------------------------------------- //
#{$seletor} {
    @extend .__caixa;

    > .titulo {
        // Texto
        color: orange;
        font-size: 1.25em;
    }
}
