// Configurações ------------------------------------------------------------ //
$seletor: '.calendario-phphtml';
$borda: 1px solid #E8E8E8;


// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Tamanho
    width: 100%;

    // Visual
    border: $borda;
    background: #FFF;
    table-layout: fixed;

    // Margens
    padding: 3px;

    > .mes-ano {
        // Texto
        text-align: center;
        font: 27px 'Avenir Next Condensed';
        color: orange;
        line-height: 40px;
    }

    > .dias-semana {
        // Texto
        font-weight: bold;
        text-align: center;

        th {
            // Visual
            border: $borda;

            // Texto
            line-height: 30px;
        }
    }

    > .dias-mes {
        > .semana {
            $tm-dia: 100% / 7;

            > .dia {
                // Visual
                border: $borda;

                // Posicionamento
                position: relative;

                // Tamanho
                width: $tm-dia;
                height: 100px;

                // Alinhamento
                vertical-align: bottom;

                // Margens
                padding: 4px;

                > .numero {
                    $tm-num: 25px;

                    // Visual
                    border-radius: 50%;
                    background: coral;
                    display: inline-block;

                    // Texto
                    text-align: center;
                    line-height: $tm-num;
                    color: #FFF;

                    // Tamanho
                    width: $tm-num;
                    height: $tm-num;

                    // Posicionamento
                    position: absolute;
                    right: 5px;
                    top: 3px;
                }
            }
        }
    }

    .lista-eventos {
        // Visual
        list-style: none;

        // Margens
        padding: 0;
        margin: 0;

        > .evento {
            $cor: attr(data-cor);

            // Visual
            border-radius: 13px;
            // background: $cor;

            &:not(:first-child) {
                // Margens
                margin-top: 4px;
            }

            > a {
                // Visual
                display: inline-block;

                // Texto
                line-height: 20px;
                text-decoration: none;
                color: #FFF;
                // text-align: center;

                // Tamanho
                width: 100%;
                height: 100%;
                box-sizing: border-box;

                // Margens
                padding: 3px 8px;
            }
        }
    }
}
