// Configurações ------------------------------------------------------------ //
$seletor: '.form-rotulo';

// Componentes -------------------------------------------------------------- //
#{$seletor} {
    // Visual
    display: block;

    // Texto
    font-size: 13px;
    color: #484848;
    font-weight: bold;
    // color: #777;
    // text-transform: uppercase;

    // Margens
    padding: 4px 0;
}
