// Configurações ------------------------------------------------------------ //
$seletor: '.form-dica';

// Componentes -------------------------------------------------------------- //
#{$seletor} {
    // Texto
    font-size: 12px;
    color: #777;

    // Visual
    display: block;

    // Margens
    padding: 3px 0;

    &::before {
        // Conteúdo
        content: '\ea09';

        // Texto
        color: orange;
        font: 1.25em 'Icomoon';

        // Alinhamento
        vertical-align: middle;

        // Margens
        margin-right: 3px;
    }
}
