// Configurações ------------------------------------------------------------ //
$seletor: '.logo-site';


// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Texto
    text-decoration: none;
    font: 24px 'Avenir Next Condensed';
    line-height: 40px;
    // color: #6a8397;
    color: #FFF;

    // Visual
    display: inline-block;

    // Tamanho
    height: 100%;

    &::before {
        // Conteúdo
        // content: url('imgs/logotipo.png');
        content: '';

        // Visual
        display: inline-block;
        background: #FFF url('imgs/logotipo.png') center no-repeat;
        background-size: 80%;
        border-radius: 50%;

        // Alinhamento
        vertical-align: middle;

        // Margens
        margin-right: 4px;

        // Tamanho
        width: 35px;
        height: 35px;
    }
}
