// Configurações ------------------------------------------------------------ //
$seletor: '.menu-usuario';
$pd-vert: 10px;
$pd-horiz: 15px;
$cor-borda: #ECECEC;


// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Posicionamento
    position: relative;

    > .icone {
        @extend .com-icone, .-so-icone, .-usuario;

        // Texto
        font-size: 18px;
        color: #FFF;

        &:hover {
            // Visual
            cursor: pointer;
        }
    }

    > .opcoes-usuario {
        // Visual
        background: #FFF;
        border: 1px solid $cor-borda;
        border-radius: 2px;
        display: none;
        box-shadow: 2px 2px 6px rgba(black, .25);

        // Posicionamento
        position: absolute;
        right: 0;

        // Tamanho
        min-width: 27vw;
        max-width: 80vw;

        &::before {
            // Conteúdo
            content: '';

            // Triângulo
            @include triangulo(cima, #FFF, 8px, 8px);

            // Posicionamento
            position: absolute;
            bottom: 100%;
            right: 8.3px;
        }

        > .infos {
            // Margens
            padding: $pd-vert $pd-horiz;

            > .texto {
                // Texto
                color: #888;

                &::first-line {
                    // Texto
                    color: #555;
                    font-weight: bold;
                }
            }

            > .links {
                // Flex
                @include flexBox;

                // Margens
                margin-top: $pd-vert;

                > .com-icone:not(:first-child) {
                    // Margens
                    margin-left: 10px;
                }
            }
        }

        > .logout {
            // Visual
            border-top: 1px solid $cor-borda;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            // background: lighten($cor-borda, 10%);

            // Margens
            padding: $pd-vert $pd-horiz;

            // Texto
            text-align: right;

            > .lklogout {
                @extend .com-icone;
                @extend .-logout;

                // Texto
                text-decoration: none;
            }
        }
    }
}

@include media-query(mobile) {
    #{$seletor} {
        > .opcoes-usuario {
            // Tamanho
            width: 80vw;
        }
    }
}

@include media-query(tablet) {
    #{$seletor} {
        > .opcoes-usuario {
            // Tamanho
            width: 45vw;
        }
    }
}
