// Configurações ------------------------------------------------------------ //
$seletor: '.menu-principal';

// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Posicionamento
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    // Tamanho
    // max-width: 50vw;
    height: 100vh;
    box-sizing: border-box;

    // Visual
    background: #FFF;
    border-right: 1px solid #ECECEC;
    overflow-y: auto;
    list-style: none;

    // Margens
    margin: 0;
    padding: ($dlx-topo-altura + 10px) 15px ($dlx-topo-altura / 2);

    // Transições
    transition: transform .5s;

    // Transformar
    transform: translateX(-100%);

    > .item {
        > .link {
            // Texto
            font: 18px 'Avenir Next';
            color: orange;
            text-decoration: none;

            // Visual
            display: inline-block;
            border-bottom: 1px solid #ECECEC;

            // Tamanho
            width: 100%;
        }

        &:not(:first-child) {
            // Margens
            margin-top: 20px;
        }

        > .sub-menu {
            // Margens
            margin-top: 8px;
            padding: 0;

            // Visual
            list-style: none;

            > .item {
                > .link {
                    // Texto
                    font: 15px 'Avenir Next';
                    text-decoration: none;
                    color: #888;
                    line-height: 2em;

                    // Visual
                    display: inline-block;

                    // Tamanho
                    width: 100%;

                    &:hover {
                        // Texto
                        color: orange;
                    }
                }

                > .descr {
                    // Visual
                    display: none;
                }
            }
        }
    }
}


@include media-query(mobile) {
    #{$seletor} {
        // Tamanho
        width: 60vw;
    }
}

@include media-query(tablet) {
    #{$seletor} {
        // Tamanho
        width: 40vw;
    }
}

@include media-query((laptop, desktop)) {
    #{$seletor} {
        // Tamanho
        width: 20vw;
    }
}
