// Configurações ------------------------------------------------------------ //
$seletor: '.mostrar-menu';


// Componente --------------------------------------------------------------- //
#{$seletor} {
    $tm: $dlx-topo-altura - 14px;

    // Visual
    display: inline-block;
    border-right: 1px solid lighten(#33909F, 5%);

    // Posicionamento
    position: relative;

    // Tamanho
    width: $dlx-topo-altura;
    height: $tm;

    // Texto
    text-decoration: none;

    &::before {
        // Conteúdo
        content: '\e9bd';

        // Texto
        font: 22.5px 'Icomoon';
        color: #FFF;
        text-align: center;
        line-height: $tm;

        // Visual
        display: inline-block;

        // Tamanho
        width: 100%;
        height: 100%;
    }

    &:hover {
        // Visual
        cursor: pointer;
    }
}
