// Configurações ------------------------------------------------------------------------------- //
$seletor: '.mostrar-imagem';
$configs: (
    mini 75px 3px,
    pequena 150px 5px,
    media 300px 6px,
    grande 600px 7px
);

// Componentes --------------------------------------------------------------------------------- //
#{$seletor} {
    // Visual
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0 0 8px 2px rgba(orange, .4);
    overflow: hidden;

    @each $cnf in $configs {
        $cls: nth($cnf, 1);
        $tm: nth($cnf, 2);
        $brd: nth($cnf, 3);
        
        &.-#{$cls} {
            // Tamanho
            width: $tm;
            height: $tm;

            // Visual
            border-width: $brd;
        }
    }
}
