// Configurações ------------------------------------------------------------ //
$seletor: '.titulo-h1';

// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Texto
    font: 2rem 'Avenir Next';
    // color: #888;
    color: #33909F;

    // Margens
    margin-top: 0;
    margin-bottom: 15px;
}


@include media-query(mobile) {
    #{$seletor} {
        > .menu-opcoes {
            // Texto
            text-align: center;
            
            // Visual
            display: block;
        }
    }
}

@include media-query((tablet, laptop, desktop)) {
    #{$seletor} {
        // Posicionamento
        position: relative;

        > .menu-opcoes {
            // Posicionamento
            position: absolute;
            right: 0;
            top: 50%;

            // Transformar
            transform: translateY(-50%);
        }
    }
}
