// Configurações ------------------------------------------------------------ //
$seletor: '.titulo-h2';

// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Texto
    font: 1.5rem 'Avenir Next';
    color: orange;
}


@include media-query(mobile) {
    #{$seletor} {
        > .menu-opcoes {
            // Texto
            text-align: center;

            // Visual
            display: block;
        }
    }
}

@include media-query((tablet, laptop, desktop)) {
    #{$seletor} {
        // Posicionamento
        position: relative;

        > .menu-opcoes {
            // Posicionamento
            position: absolute;
            right: 0;
            top: 50%;

            // Transformar
            transform: translateY(-50%);
        }
    }
}
