.link-detalhe {
    $tm: 30px;
    $cor-fundo: #1F8B8C;

    // Visual
    display: inline-block;

    // Tamanho
    width: $tm;
    height: $tm;

    // Texto
    white-space: nowrap;
    color: transparent;

    &::before {
        // Conteúdo
        content: '\e91f';

        // Texto
        color: #FFF;
        font: 14px icomoon;
        text-align: center;
        line-height: $tm;

        // Visual
        display: inline-block;
        background: lighten($cor-fundo, .5);
        border-radius: 50%;
        border-bottom: 4px solid darken($cor-fundo, .9);

        // Tamanho
        width: $tm;
        height: $tm;
        box-sizing: border-box;

        // Alinhamento
        vertical-align: middle;
    }
}