.link-editar {
    $cor-fundo: #FCA502;

    @extend .so-icone;

    &::before {
        // Conteúdo
        content: '\e905';

        // Visual
        background: $cor-fundo;

        // Texto
        color: #FFF;
    }
}