.lista-registros {
    // Tamanho
    width: 100%;
    box-sizing: border-box;

    // Visual
    border-collapse: collapse;

    thead {
        // Visual
        display: none;
    }

    tbody {
        tr {
            // Visual
            background: #FFF;
            border-radius: 4px;

            // Tamanho
            width: 100%;
            box-sizing: border-box;

            // Margens
            margin: 10px 0;
            padding: 7.5px 15px;

            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}