@import "colunas/flex-box-mp-col";
@import "colunas/flex-box-pq-col";
@import "colunas/flex-box-md-col";
@import "colunas/flex-box-gd-col";
@import "colunas/flex-box-mg-col";

.flex-box {
    // Flex
    display: flex;
    flex-flow: row wrap;
}