@charset "UTF-8";
@font-face {
  font-family: icomoon;
  src: url("fontes/icomoon/fonts/icomoon.eot");
  src: url("fontes/icomoon/fonts/icomoon.woff") format("woff"), url("fontes/icomoon/fonts/icomoon.ttf") format("truetype"), url("fontes/icomoon/fonts/icomoon.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Condensed";
  src: url("fontes/avenir-next-lt-pro-condensed.otf");
}
* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

body {
  background: #F4F7FB;
  overflow-x: hidden;
  font: 14px "Open Sans", sans-serif;
  padding: 95px 1% 40px;
}
body .wrapper {
  transition: filter 0.1s;
}
body.mostrando-menu .wrapper {
  filter: blur(4px);
}
body.mostrando-menu .menu-principal {
  display: flex;
}

.titulo-pagina {
  color: #666;
  font-family: "Avenir Next", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid orange;
  padding-bottom: 8px;
}

.popup-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.popup-modal > .dlx-conteudo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 80%;
  box-sizing: border-box;
  background: #F4F7FB;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 1px 8px;
}

.logo-site {
  text-decoration: none;
  font: 24px "Avenir Next Condensed", sans-serif;
  line-height: 40px;
  color: #FFF;
  display: inline-block;
  height: 100%;
}
.logo-site::before {
  content: "";
  display: inline-block;
  background: #FFF url("imgs/logotipo.png") center no-repeat;
  background-size: 80%;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
  width: 35px;
  height: 35px;
}

@media (min-width: 0) and (max-width: 480px) {
  .flex-box-mp-col-1 {
    flex: 32.3333333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mp-col-1:not(:nth-child(3n)) {
    margin-right: 1.5%;
  }

  .flex-box-mp-col-2 {
    flex: 66.1666666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mp-col-2:not(:nth-child(1n)) {
    margin-right: 1.5%;
  }

  .flex-box-mp-col-3, .erro-http-descricao, .erro-http-titulo, .lista-widgets > .widget-home, .lista-permissoes > .permissao, .layout-barra-lateral > *, .layout-barra-lateral > .barra-lateral {
    flex: 100% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mp-col-3:not(:nth-child(1n)), .erro-http-descricao:not(:nth-child(1n)), .erro-http-titulo:not(:nth-child(1n)), .lista-widgets > .widget-home:not(:nth-child(1n)), .lista-permissoes > .permissao:not(:nth-child(1n)), .layout-barra-lateral > :not(:nth-child(1n)) {
    margin-right: 1.5%;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .flex-box-pq-col-1 {
    flex: 15.625% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-1:not(:nth-child(6n)) {
    margin-right: 1.25%;
  }

  .flex-box-pq-col-2 {
    flex: 32.5% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-2:not(:nth-child(3n)) {
    margin-right: 1.25%;
  }

  .flex-box-pq-col-3, .erro-http-descricao, .erro-http-titulo, .lista-widgets > .widget-home, .lista-permissoes > .permissao, .layout-barra-lateral > *, .layout-barra-lateral > .barra-lateral {
    flex: 49.375% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-3:not(:nth-child(2n)), .erro-http-descricao:not(:nth-child(2n)), .erro-http-titulo:not(:nth-child(2n)), .lista-widgets > .widget-home:not(:nth-child(2n)), .lista-permissoes > .permissao:not(:nth-child(2n)), .layout-barra-lateral > :not(:nth-child(2n)) {
    margin-right: 1.25%;
  }

  .flex-box-pq-col-4 {
    flex: 66.25% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-4:not(:nth-child(1n)) {
    margin-right: 1.25%;
  }

  .flex-box-pq-col-5 {
    flex: 83.125% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-5:not(:nth-child(1n)) {
    margin-right: 1.25%;
  }

  .flex-box-pq-col-6 {
    flex: 100% 0 1;
    box-sizing: border-box;
  }
  .flex-box-pq-col-6:not(:nth-child(1n)) {
    margin-right: 1.25%;
  }
}
@media (min-width: 801px) and (max-width: 1024px) {
  .flex-box-md-col-1 {
    flex: 7.4166666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-1:not(:nth-child(12n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-2 {
    flex: 15.8333333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-2:not(:nth-child(6n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-3, .erro-http-titulo, .layout-barra-lateral > .barra-lateral {
    flex: 24.25% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-3:not(:nth-child(4n)), .erro-http-titulo:not(:nth-child(4n)), .layout-barra-lateral > .barra-lateral:not(:nth-child(4n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-4, .lista-permissoes > .permissao {
    flex: 32.6666666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-4:not(:nth-child(3n)), .lista-permissoes > .permissao:not(:nth-child(3n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-5 {
    flex: 41.0833333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-5:not(:nth-child(2n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-6, .lista-widgets > .widget-home {
    flex: 49.5% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-6:not(:nth-child(2n)), .lista-widgets > .widget-home:not(:nth-child(2n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-7 {
    flex: 57.9166666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-7:not(:nth-child(1n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-8 {
    flex: 66.3333333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-8:not(:nth-child(1n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-9, .erro-http-descricao, .layout-barra-lateral > * {
    flex: 74.75% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-9:not(:nth-child(1n)), .erro-http-descricao:not(:nth-child(1n)), .layout-barra-lateral > :not(:nth-child(1n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-10 {
    flex: 83.1666666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-10:not(:nth-child(1n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-11 {
    flex: 91.5833333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-11:not(:nth-child(1n)) {
    margin-right: 1%;
  }

  .flex-box-md-col-12 {
    flex: 100% 0 1;
    box-sizing: border-box;
  }
  .flex-box-md-col-12:not(:nth-child(1n)) {
    margin-right: 1%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .flex-box-gd-col-1 {
    flex: 7.6458333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-1:not(:nth-child(12n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-2 {
    flex: 16.0416666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-2:not(:nth-child(6n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-3, .erro-http-titulo, .lista-permissoes > .permissao, .layout-barra-lateral > .barra-lateral {
    flex: 24.4375% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-3:not(:nth-child(4n)), .erro-http-titulo:not(:nth-child(4n)), .lista-permissoes > .permissao:not(:nth-child(4n)), .layout-barra-lateral > .barra-lateral:not(:nth-child(4n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-4, .lista-widgets > .widget-home {
    flex: 32.8333333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-4:not(:nth-child(3n)), .lista-widgets > .widget-home:not(:nth-child(3n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-5 {
    flex: 41.2291666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-5:not(:nth-child(2n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-6 {
    flex: 49.625% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-6:not(:nth-child(2n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-7 {
    flex: 58.0208333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-7:not(:nth-child(1n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-8 {
    flex: 66.4166666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-8:not(:nth-child(1n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-9, .erro-http-descricao, .layout-barra-lateral > * {
    flex: 74.8125% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-9:not(:nth-child(1n)), .erro-http-descricao:not(:nth-child(1n)), .layout-barra-lateral > :not(:nth-child(1n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-10 {
    flex: 83.2083333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-10:not(:nth-child(1n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-11 {
    flex: 91.6041666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-11:not(:nth-child(1n)) {
    margin-right: 0.75%;
  }

  .flex-box-gd-col-12 {
    flex: 100% 0 1;
    box-sizing: border-box;
  }
  .flex-box-gd-col-12:not(:nth-child(1n)) {
    margin-right: 0.75%;
  }
}
@media (min-width: 1281px) and (max-width: 4800px) {
  .flex-box-mg-col-1 {
    flex: 6.1066666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-1:not(:nth-child(15n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-2 {
    flex: 12.8133333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-2:not(:nth-child(7n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-3, .lista-widgets > .widget-home, .lista-permissoes > .permissao, .layout-barra-lateral > .barra-lateral {
    flex: 19.52% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-3:not(:nth-child(5n)), .lista-widgets > .widget-home:not(:nth-child(5n)), .lista-permissoes > .permissao:not(:nth-child(5n)), .layout-barra-lateral > .barra-lateral:not(:nth-child(5n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-4 {
    flex: 26.2266666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-4:not(:nth-child(3n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-5, .erro-http-titulo {
    flex: 32.9333333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-5:not(:nth-child(3n)), .erro-http-titulo:not(:nth-child(3n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-6 {
    flex: 39.64% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-6:not(:nth-child(2n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-7 {
    flex: 46.3466666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-7:not(:nth-child(2n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-8 {
    flex: 53.0533333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-8:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-9 {
    flex: 59.76% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-9:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-10, .erro-http-descricao {
    flex: 66.4666666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-10:not(:nth-child(1n)), .erro-http-descricao:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-11 {
    flex: 73.1733333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-11:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-12, .layout-barra-lateral > * {
    flex: 79.88% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-12:not(:nth-child(1n)), .layout-barra-lateral > :not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-13 {
    flex: 86.5866666667% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-13:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-14 {
    flex: 93.2933333333% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-14:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }

  .flex-box-mg-col-15 {
    flex: 100% 0 1;
    box-sizing: border-box;
  }
  .flex-box-mg-col-15:not(:nth-child(1n)) {
    margin-right: 0.6%;
  }
}
.flex-box, .erro-http, .lista-permissoes, .layout-barra-lateral {
  display: flex;
  flex-flow: row wrap;
}

.dlx-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  margin: 0;
  padding: 7.5px 15px;
  background: #33909F;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  align-items: center;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-principal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(50, 144, 159, 0.75);
  list-style: none;
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 15vh 10vw;
  animation: aparecer linear 0.2s;
}
.menu-principal > .menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-principal > .menu-item > .menu-link {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}
.menu-principal > .menu-item .sub-menu {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item:not(:last-child) {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item > .sub-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  color: #FFF;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item > .sub-menu-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-filtro {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 50%;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 7.5px;
}
.menu-filtro .form-controle {
  background: transparent;
  border: none;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 18px;
  color: #FFF;
  padding: 0 15px;
}
.menu-filtro .form-controle:focus {
  outline: none;
}

.layout-barra-lateral > .barra-lateral {
  padding-right: 20px;
  margin-bottom: 20px;
}
.menu-lateral {
  background: #FFF;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.menu-lateral > .menu-lateral-item {
  display: block;
  width: 100%;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  color: #666;
  line-height: 40px !important;
}
.menu-lateral > .menu-lateral-item:hover, .menu-lateral > .menu-lateral-item.ativo {
  color: #FFF;
  background: orange;
}
.menu-lateral > .menu-lateral-item.ativo {
  position: relative;
}
.menu-lateral > .menu-lateral-item.ativo::after {
  content: "";
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid orange;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.menu-lateral > .menu-lateral-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.menu-lateral > .menu-lateral-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-opcoes {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.menu-opcoes > *:not(:last-child) {
  margin-right: 10px;
}

.link-mostrar-menu {
  text-decoration: none;
  color: transparent;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-right: 1px solid #39a1b2;
  padding-right: 10px;
  margin-right: 10px;
}
.link-mostrar-menu::before {
  content: "";
  color: #FFF;
  font: 28px icomoon;
  vertical-align: middle;
}

.link-fechar-menu {
  color: #FFF;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 7.5px;
  right: 2%;
}
.link-fechar-menu:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icone-grupo::before, .form-controle-grupo::before {
  content: "";
  font-family: icomoon;
}

.icone-info::before {
  content: "";
  font-family: icomoon;
}

.icone-inserir::before {
  content: "";
  font-family: icomoon;
}

.icone-lista::before {
  content: "";
  font-family: icomoon;
}

.icone-sistema::before {
  content: "";
  font-family: icomoon;
}

.icone-email::before, .form-controle-email::before {
  content: "";
  font-family: icomoon;
}

.icone-usuario::before, .form-controle-usuario::before {
  content: "";
  font-family: icomoon;
}

.icone-senha-nova::before, .form-controle-senha-nova::before {
  content: "";
  font-family: icomoon;
}

.icone-senha-confirm::before, .form-controle-senha-confirm::before {
  content: "";
  font-family: icomoon;
}

.icone-senha::before, .form-controle-senha::before {
  content: "";
  font-family: icomoon;
}

.icone-descricao::before, .form-controle-descricao::before {
  content: "";
  font-family: icomoon;
}

.icone-alias::before, .form-controle-alias::before {
  content: "";
  font-family: icomoon;
}

.icone-pergunta::before, .dica-geral::before {
  content: "";
  font-family: icomoon;
  vertical-align: middle;
}

.icone-voltar::before, .botao-voltar::before {
  content: "";
  font-family: icomoon;
}

.icone-link::before, .form-controle-link::before {
  content: "";
  font-family: icomoon;
}

.com-icone, .botao-buscar, .link-inserir, .so-icone, .link-excluir, .link-editar, .link-detalhe, .menu-lateral > .menu-lateral-item {
  display: inline-block;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 15px;
  box-sizing: border-box;
}
.com-icone::before, .botao-buscar::before, .link-inserir::before, .so-icone::before, .link-excluir::before, .link-editar::before, .link-detalhe::before, .menu-lateral > .menu-lateral-item::before {
  font: 14px icomoon;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
}

.so-icone, .link-excluir, .link-editar, .link-detalhe {
  width: 30px;
  height: 30px;
  white-space: nowrap;
  color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.link-inserir {
  background: #66CDAA;
  border-radius: 4px;
  color: #FFF;
}
.link-inserir::before {
  content: "";
}

.link-detalhe::before {
  content: "";
  background: #1F8B8C;
  color: #FFF;
}

.link-editar::before {
  content: "";
  background: #FCA502;
  color: #FFF;
}

.link-excluir::before {
  content: "";
  background: #9e0500;
  border-bottom: 4px solid #940500;
  color: #FFF;
}

.botao, .botao-perfil-usuario, .botao-testar-email, .botao-voltar, .botao-gerenciar-permissoes, .botao-reset-senha, .botao-alterar-senha, .botao-salvar {
  display: inline-block;
  border: none;
  border-bottom: 4px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-size: 11px;
}
.botao:hover, .botao-perfil-usuario:hover, .botao-testar-email:hover, .botao-voltar:hover, .botao-gerenciar-permissoes:hover, .botao-reset-senha:hover, .botao-alterar-senha:hover, .botao-salvar:hover {
  cursor: pointer;
}
.botao:active, .botao-perfil-usuario:active, .botao-testar-email:active, .botao-voltar:active, .botao-gerenciar-permissoes:active, .botao-reset-senha:active, .botao-alterar-senha:active, .botao-salvar:active, .botao:focus, .botao-perfil-usuario:focus, .botao-testar-email:focus, .botao-voltar:focus, .botao-gerenciar-permissoes:focus, .botao-reset-senha:focus, .botao-alterar-senha:focus, .botao-salvar:focus {
  outline: none;
}

.botao-submit, .botao-perfil-usuario, .botao-voltar, .botao-reset-senha, .botao-alterar-senha, .botao-salvar {
  background: #83c129;
  border-bottom-color: #69ad21;
}
.botao-submit:hover, .botao-perfil-usuario:hover, .botao-voltar:hover, .botao-reset-senha:hover, .botao-alterar-senha:hover, .botao-salvar:hover {
  background: #7bbe20;
}

.botao-comum, .botao-testar-email {
  /*/ Visual
  background: #8b8ac1;
  border-bottom-color: #6a6a96;

  &:hover {
      // Visual
      background: #7f7fb4;
  }*/
  background: #AAA;
  border-bottom-color: #888;
}
.botao-comum:hover, .botao-testar-email:hover {
  background: #999;
}

.botao-gerenciar-permissoes {
  background: orange;
  border-bottom-color: darkorange;
  text-decoration: none;
  margin: 0 auto;
}
.botao-gerenciar-permissoes:hover {
  background: #ff9505;
}

.botao-voltar::before {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 4px;
}

.botao-testar-email::before {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 4px;
}

.botao-buscar {
  background: #607d8b;
  border-radius: 4px;
  border: none;
  color: #FFF;
  padding: 0 15px 0 5px;
}
.botao-buscar::before {
  content: "";
}
.botao-buscar:focus {
  outline: none;
}

.lista-registros {
  background: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 100%;
}
.lista-registros thead {
  background: rgba(60, 181, 201, 0.2);
  color: #32909F;
}
.lista-registros thead > tr > th {
  padding: 10px 7px;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}
.lista-registros thead > tr > th:first-child {
  text-align: center;
}
.lista-registros thead > tr > th:last-child {
  text-align: right;
}
.lista-registros tbody tr > td {
  padding: 8px 7px;
  font-size: 14px;
}
.lista-registros tbody tr > td:last-child {
  text-align: right;
}
.lista-registros tbody tr > td:first-child {
  text-align: center;
}
.lista-registros tbody tr:not(:last-child) {
  border-bottom: 1px solid #EFEFEF;
}
.lista-registros-comentario {
  color: #AAA;
}

.lista-gerenciar-permissoes {
  max-height: 300px;
  overflow-y: auto;
  display: block;
}
.lista-gerenciar-permissoes tbody {
  display: block;
  width: 99%;
}
.lista-gerenciar-permissoes tbody tr {
  cursor: pointer;
}
.lista-gerenciar-permissoes tbody tr:hover {
  background: rgba(102, 205, 170, 0.16);
  color: #32909F;
}
.lista-gerenciar-permissoes tbody tr [type=checkbox] {
  visibility: hidden;
  position: fixed;
  top: -9999px;
  left: -9999px;
}
.lista-gerenciar-permissoes tbody tr td {
  text-align: left !important;
}

.lista-permissoes {
  list-style: none;
  padding: 0;
}
.lista-permissoes > .permissao {
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
}
.lista-permissoes > .permissao::first-line {
  font-weight: bold;
  color: black;
}

.form-rotulo {
  display: block;
  padding: 3px 0;
}

.form-controle {
  font-size: 14px;
  color: #555;
  border-radius: 2px;
  border: 1px solid #DDD;
  width: 100%;
  height: 33px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 5px;
}
.form-controle:focus {
  outline: 2px solid orange;
}
.form-controle-checkbox, .form-controle-radio {
  width: auto;
  height: auto;
  vertical-align: middle;
}

.form-controle-numero {
  width: auto;
}

.form-controle-textarea {
  height: 120px;
}

.form-controle-data {
  width: auto;
}

.form-controle-select {
  background: #FFF;
}

.form-controle-email {
  position: relative;
}
.form-controle-email::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-email + .form-controle {
  padding-left: 40px;
}

.form-controle-usuario {
  position: relative;
}
.form-controle-usuario::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-usuario + .form-controle {
  padding-left: 40px;
}

.form-controle-senha {
  position: relative;
}
.form-controle-senha::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha + .form-controle {
  padding-left: 40px;
}

.form-controle-senha-nova {
  position: relative;
}
.form-controle-senha-nova::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha-nova + .form-controle {
  padding-left: 40px;
}

.form-controle-senha-confirm {
  position: relative;
}
.form-controle-senha-confirm::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha-confirm + .form-controle {
  padding-left: 40px;
}

.form-controle-alias {
  position: relative;
}
.form-controle-alias::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-alias + .form-controle {
  padding-left: 40px;
}

.form-controle-descricao {
  position: relative;
}
.form-controle-descricao::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-descricao + .form-controle {
  padding-left: 40px;
}

.form-controle-grupo {
  position: relative;
}
.form-controle-grupo::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-grupo + .form-controle {
  padding-left: 40px;
}

.form-controle-moeda {
  position: relative;
}
.form-controle-moeda::before {
  content: "R$";
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #c6cacd;
  line-height: 17px;
}
.form-controle-moeda + .form-controle {
  padding-left: 40px;
}

.form-controle-link {
  position: relative;
}
.form-controle-link::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-link + .form-controle {
  padding-left: 40px;
}

.form-grupo {
  border: none;
  margin: 0;
  padding: 0;
}
.form-grupo:not(:last-of-type) {
  margin-bottom: 20px;
}

.form-titulo, .detalhe-registro-titulo {
  display: block;
  background: rgba(30, 135, 136, 0.07);
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  margin-bottom: 10px;
  color: #1e8788;
  font-size: large;
}

.form-botoes {
  display: block;
  border-top: 1px solid orange;
  margin-top: 20px;
  padding-top: 8px;
  text-align: center;
}

.form-alterar-usuario #acesso-sistema,
.form-alterar-usuario #grupos-usuarios {
  display: none;
}

.form-login, .form-reset-senha, .form-alterar-senha {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.form-config-permissoes {
  display: flex;
  flex-wrap: wrap;
}
.form-config-permissoes > .form-grupo {
  flex: 48% 0 0;
}
.form-config-permissoes > .form-grupo:nth-of-type(2) {
  margin-left: 3.086%;
}
.form-config-permissoes > .form-botoes {
  flex: 100% 1 1;
}

.multi-select {
  position: relative;
  width: auto;
  height: 33px;
  box-sizing: border-box;
  padding-right: 50px;
  border: 1px solid #DDD;
  background: rgba(233, 233, 233, 0.3);
  color: #888;
}
.multi-select:hover .multi-select-itens {
  display: block;
}
.multi-select-item {
  display: block;
  line-height: 33px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
}
.multi-select-itens {
  position: absolute;
  left: -1px;
  top: 100%;
  z-index: 1;
  width: 100%;
  background: #FFF;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}
.multi-select-itens > .multi-select-item {
  cursor: pointer;
}
.multi-select-itens > .multi-select-item:hover {
  background: rgba(233, 233, 233, 0.3);
  color: orange;
}

.detalhe-registro-rotulo {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.detalhe-usuario #acesso-sistema,
.detalhe-usuario #grupos-usuarios {
  display: none;
}

.mensagem-usuario {
  padding: 7px 20px;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.mensagem-usuario.-atencao {
  color: orange;
  border-color: orange;
  background: #fff6e6;
}
.mensagem-usuario.-info {
  color: #069;
  border-color: #069;
  background: #80d5ff;
}
.mensagem-usuario.-sucesso {
  color: green;
  border-color: green;
  background: #67ff67;
}

.widget-home {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.widget-home-titulo {
  color: orange;
  font-size: 16px;
  margin-bottom: 5px;
}
.widget-home-conteudo {
  min-height: 120px;
  position: relative;
}
.widget-home-conteudo:empty::before {
  content: "Carregando widget...";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  font-size: small;
  color: #AAA;
}

.lista-widgets {
  display: flex;
  flex-flow: row wrap;
}
.lista-widgets > .widget-home {
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

.erro-http {
  justify-content: space-around;
  align-items: center;
}
.erro-http-titulo {
  font: 150px "Avenir Next", "Open Sans", SansSerif;
  color: #999;
  text-align: right;
  padding: 0;
  margin: 0;
}
.erro-http-descricao {
  padding-left: 30px;
  font-size: large;
  color: #AAA;
}
.erro-http-descricao::first-line {
  color: #32909F;
  font-size: x-large;
}

.dica-geral {
  color: #999;
  font-size: x-small;
  vertical-align: text-top;
  position: relative;
}
.dica-geral:hover {
  cursor: pointer;
}
.dica-geral:hover::after {
  content: attr(data-texto);
  color: #FFF;
  font-size: small;
  text-align: justify;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 100%;
}

.info-usuario-rotulo {
  text-transform: uppercase;
  font-weight: bold;
}
.info-usuario-valor {
  color: #555;
}

.usuario-resumo-infos {
  position: relative;
}
.usuario-resumo-infos > .botao-perfil-usuario {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.filtro-registros {
  display: flex;
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 690px;
  max-width: 100%;
  margin: 0;
  position: relative;
}
.filtro-registros > .multi-select {
  border: none;
  width: 190px;
}
.filtro-registros > .multi-select::before {
  content: "";
  display: inline-block;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.filtro-registros > .multi-select::after {
  content: "";
  width: 1px;
  height: 20px;
  background: #ddd;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.filtro-registros > .form-controle {
  background: transparent;
  border: none;
}

.sem-registros {
  text-align: center !important;
}

/*# sourceMappingURL=paineldlx.tema.css.map */
