@charset "UTF-8";
@font-face {
  font-family: icomoon;
  src: url("fontes/icomoon/fonts/icomoon.eot");
  src: url("fontes/icomoon/fonts/icomoon.woff") format("woff"), url("fontes/icomoon/fonts/icomoon.ttf") format("truetype"), url("fontes/icomoon/fonts/icomoon.svg") format("svg");
}
body {
  background: #F4F7FB;
  overflow-x: hidden;
  font: 14px "Open Sans", sans-serif;
  padding: 95px 1% 40px;
}
body .wrapper {
  transition: filter 0.1s;
}
body.mostrando-menu .wrapper {
  filter: blur(4px);
}
body.mostrando-menu .menu-principal {
  display: flex;
}

.titulo-pagina {
  color: #666;
  font-family: "Avenir Next", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid orange;
  padding-bottom: 8px;
}

.lista-registros {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}
.lista-registros thead {
  display: none;
}
.lista-registros tbody tr {
  background: #FFF;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 7.5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dlx-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  margin: 0;
  padding: 7.5px 15px;
  background: #33909F;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  align-items: center;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-principal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(50, 144, 159, 0.75);
  list-style: none;
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 15vh 10vw;
  animation: aparecer linear 0.2s;
}
.menu-principal > .menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-principal > .menu-item > .menu-link {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}
.menu-principal > .menu-item .sub-menu {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item:not(:last-child) {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item > .sub-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  color: #FFF;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
}
.menu-principal > .menu-item .sub-menu > .sub-menu-item > .sub-menu-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-filtro {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 50%;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 7.5px;
}
.menu-filtro .form-controle {
  background: transparent;
  border: none;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 18px;
  color: #FFF;
  padding: 0 15px;
}
.menu-filtro .form-controle:focus {
  outline: none;
}

.layout-barra-lateral {
  display: flex;
}
.layout-barra-lateral > .barra-lateral {
  flex: 25% 0 0;
  margin-right: 30px;
}
.layout-barra-lateral > * {
  flex: auto;
}

.menu-lateral {
  background: #FFF;
  border-radius: 4px;
  min-width: 250px;
  max-width: 100%;
  box-sizing: border-box;
}
.menu-lateral > .menu-lateral-item {
  display: block;
  width: 100%;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  color: #666;
  line-height: 40px !important;
}
.menu-lateral > .menu-lateral-item:hover, .menu-lateral > .menu-lateral-item.ativo {
  color: #FFF;
  background: orange;
}
.menu-lateral > .menu-lateral-item.ativo {
  position: relative;
}
.menu-lateral > .menu-lateral-item.ativo::after {
  content: "";
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid orange;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.menu-lateral > .menu-lateral-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.menu-lateral > .menu-lateral-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-opcoes {
  margin-bottom: 20px;
  text-align: right;
}

.link-mostrar-menu {
  text-decoration: none;
  color: transparent;
  width: 28px;
  height: 28px;
  display: inline-block;
}
.link-mostrar-menu::before {
  content: "";
  color: #FFF;
  font: 28px icomoon;
  vertical-align: middle;
}

.link-fechar-menu {
  color: #FFF;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 7.5px;
  right: 2%;
}
.link-fechar-menu:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icone-grupo::before, .form-controle-grupo::before {
  content: "";
  font-family: icomoon;
}

.icone-info::before {
  content: "";
  font-family: icomoon;
}

.icone-inserir::before {
  content: "";
  font-family: icomoon;
}

.icone-lista::before {
  content: "";
  font-family: icomoon;
}

.icone-sistema::before {
  content: "";
  font-family: icomoon;
}

.icone-email::before, .form-controle-email::before {
  content: "";
  font-family: icomoon;
}

.icone-usuario::before, .form-controle-usuario::before {
  content: "";
  font-family: icomoon;
}

.icone-senha-nova::before, .form-controle-senha-nova::before {
  content: "";
  font-family: icomoon;
}

.icone-senha-confirm::before, .form-controle-senha-confirm::before {
  content: "";
  font-family: icomoon;
}

.icone-senha::before, .form-controle-senha::before {
  content: "";
  font-family: icomoon;
}

.icone-descricao::before, .form-controle-descricao::before {
  content: "";
  font-family: icomoon;
}

.icone-alias::before, .form-controle-alias::before {
  content: "";
  font-family: icomoon;
}

.icone-pergunta::before, .dica-geral::before {
  content: "";
  font-family: icomoon;
  vertical-align: middle;
}

.com-icone, .link-inserir, .so-icone, .link-excluir, .link-editar, .link-detalhe, .menu-lateral > .menu-lateral-item {
  display: inline-block;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 15px;
  box-sizing: border-box;
}
.com-icone::before, .link-inserir::before, .so-icone::before, .link-excluir::before, .link-editar::before, .link-detalhe::before, .menu-lateral > .menu-lateral-item::before {
  font: 14px icomoon;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
}

.so-icone, .link-excluir, .link-editar, .link-detalhe {
  width: 30px;
  height: 30px;
  white-space: nowrap;
  color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.link-inserir {
  background: #66CDAA;
  border-radius: 4px;
  color: #FFF;
}
.link-inserir::before {
  content: "";
}

.link-detalhe::before {
  content: "";
  background: #1F8B8C;
  color: #FFF;
}

.link-editar::before {
  content: "";
  background: #FCA502;
  color: #FFF;
}

.link-excluir::before {
  content: "";
  background: #9e0500;
  border-bottom: 4px solid #940500;
  color: #FFF;
}

.botao, .botao-alterar-senha, .botao-salvar {
  border: none;
  border-bottom: 4px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #FFF;
}
.botao:hover, .botao-alterar-senha:hover, .botao-salvar:hover {
  cursor: pointer;
}
.botao:active, .botao-alterar-senha:active, .botao-salvar:active, .botao:focus, .botao-alterar-senha:focus, .botao-salvar:focus {
  outline: none;
}

.botao-submit, .botao-alterar-senha, .botao-salvar {
  background: #83c129;
  border-bottom-color: #69ad21;
}
.botao-submit:hover, .botao-alterar-senha:hover, .botao-salvar:hover {
  background: #7bbe20;
}

.form-rotulo {
  display: block;
  padding: 3px 0;
}

.form-controle {
  font-size: 14px;
  color: #555;
  border-radius: 2px;
  border: 1px solid #DDD;
  width: 100%;
  height: 33px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 5px;
}
.form-controle:focus {
  outline: 2px solid orange;
}
.form-controle-checkbox, .form-controle-radio {
  width: auto;
  height: auto;
  vertical-align: middle;
}

.form-controle-email {
  position: relative;
}
.form-controle-email::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-email + .form-controle {
  padding-left: 40px;
}

.form-controle-usuario {
  position: relative;
}
.form-controle-usuario::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-usuario + .form-controle {
  padding-left: 40px;
}

.form-controle-senha {
  position: relative;
}
.form-controle-senha::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha + .form-controle {
  padding-left: 40px;
}

.form-controle-senha-nova {
  position: relative;
}
.form-controle-senha-nova::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha-nova + .form-controle {
  padding-left: 40px;
}

.form-controle-senha-confirm {
  position: relative;
}
.form-controle-senha-confirm::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-senha-confirm + .form-controle {
  padding-left: 40px;
}

.form-controle-alias {
  position: relative;
}
.form-controle-alias::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-alias + .form-controle {
  padding-left: 40px;
}

.form-controle-descricao {
  position: relative;
}
.form-controle-descricao::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-descricao + .form-controle {
  padding-left: 40px;
}

.form-controle-grupo {
  position: relative;
}
.form-controle-grupo::before {
  position: absolute;
  top: 34px;
  left: 12px;
  font-size: 16px;
  color: #c6cacd;
}
.form-controle-grupo + .form-controle {
  padding-left: 40px;
}

.form-grupo {
  border: none;
  padding: 0;
}

.form-titulo, .detalhe-registro-titulo {
  display: block;
  background: #1e8788;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 15px;
  color: #FFF;
}

.form-botoes {
  display: block;
  border-top: 1px solid orange;
  padding-top: 8px;
  text-align: center;
}

.form-alterar-usuario #acesso-sistema,
.form-alterar-usuario #grupos-usuarios {
  display: none;
}

.form-login, .form-alterar-senha {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.detalhe-registro-rotulo {
  text-transform: uppercase;
  display: block;
}

.detalhe-usuario #acesso-sistema,
.detalhe-usuario #grupos-usuarios {
  display: none;
}

.mensagem-usuario {
  padding: 7px 20px;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.mensagem-usuario.-atencao {
  color: orange;
  border-color: orange;
  background: #fff6e6;
}
.mensagem-usuario.-info {
  color: #069;
  border-color: #069;
  background: #80d5ff;
}
.mensagem-usuario.-sucesso {
  color: green;
  border-color: green;
  background: #67ff67;
}

.dica-geral {
  color: #999;
  font-size: x-small;
  vertical-align: text-top;
  position: relative;
}
.dica-geral:hover {
  cursor: pointer;
}
.dica-geral:hover::after {
  content: attr(data-texto);
  color: #FFF;
  font-size: small;
  text-align: justify;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 100%;
}

/*# sourceMappingURL=paineldlx.tema.css.map */
