@font-face {
    font-family: icomoon;
    src: url('fontes/icomoon/fonts/icomoon.eot'); // IE9
    src: url('fontes/icomoon/fonts/icomoon.woff') format('woff'),
        url('fontes/icomoon/fonts/icomoon.ttf') format('truetype'),
        url('fontes/icomoon/fonts/icomoon.svg') format('svg');
}

body {
    // Visual
    background: #F4F7FB;
    overflow-x: hidden;

    // Texto
    font: 14px "Open Sans", sans-serif;

    // Margens
    padding: 95px 1% 40px;

    .wrapper {
        // Transições
        transition: filter .1s;
    }

    &.mostrando-menu {
        .wrapper {
            // Visual
            filter: blur(4px);
        }

        .menu-principal {
            // Visual
            display: flex;
        }
    }
}

// Geral
@import "componentes/titulo-pagina";
@import "componentes/lista-registros";

// Menus
@import "layout/dlx-menu";
@import "componentes/menu-principal";
@import "componentes/menu-filtro";
@import "componentes/layout-menu-lateral";
@import "componentes/menu-lateral";
@import "componentes/menu-opcoes";

// Links
@import "componentes/link-mostrar-menu";
@import "componentes/link-fechar-menu";
@import "componentes/com-icone";
@import "componentes/so-icone";
@import "componentes/link-inserir";
@import "componentes/link-detalhe";
@import "componentes/link-editar";
@import "componentes/link-excluir";

// Botões
@import "componentes/botoes/botao";
@import "componentes/botoes/botao-submit";
@import "componentes/botoes/botao-salvar";
@import "componentes/botoes/botao-alterar-senha";

// Formulário
@import "componentes/form/form-rotulo";
@import "componentes/form/form-controle";
@import "componentes/form/form-controle-email";
@import "componentes/form/form-controle-usuario";
@import "componentes/form/form-controle-senha";
@import "componentes/form/form-controle-senha-nova";
@import "componentes/form/form-controle-senha-confirm";
@import "componentes/form/form-controle-grupo";
@import "componentes/form/form-grupo";
@import "componentes/form/form-titulo";
@import "componentes/form/form-botoes";
@import "componentes/form/form-alterar-usuario";

// Detalhes
@import "componentes/detalhe-registro";
@import "componentes/detalhes/detalhe-usuario";