// Configurações ------------------------------------------------------------ //
$seletor: '.dlx-rodape';

// Componentes -------------------------------------------------------------- //
#{$seletor} {
    // Texto
    text-align: center;
    color: #666;
}
