// Configurações ------------------------------------------------------------ //
$seletor: '.dlx-conteudo';

// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Visual
    /* background: #FFF;
    border-radius: 1px;
    // border: 1px solid #EAEAEA;
    box-shadow: 0 0 1px #E1E1E1;

    // Margens
    padding: 5px 10px 20px; */

    // Posicionamento
    position: relative;
}
