@mixin gerar-colunas ($id, $qtde-colunas, $tela-tm-min, $tela-tm-max) {
    @media screen and (min-width: $tela-tm-min) and (max-width: $tela-tm-max) {
        @for $i from 1 through $qtde-colunas {
            $tm: (100% / $qtde-colunas) * $i;

            .flex-box-#{$id}-col-#{$i} {
                // Flex
                flex: $tm 0 1;

                // Tamanho
                box-sizing: border-box;
            }
        }
    }
}